/***** General CSS *****/
body {
    background: black;
    /* background: url("../images/Argonath\ full.jpg") fixed no-repeat center top;  */
    background-size: cover;
    color: white;
    font-size: 40px;
    font-family: "Markazi Text", serif;
    display: grid;
    grid-template-columns: 2fr 1fr 5fr 1fr 2fr;
    grid-template-rows: 4fr 6fr 8fr;
    text-align: center;
    align-items: end;
}

@font-face {
    font-family: "HobbitonBrushhand";
    src: url("hobbitonbrushhand.woff") format("woff");
}

#side-mountain {
    grid-column: 4 / 6;
    grid-row: 2 / 4;
    z-index: 1;
    object-fit: contain;
    height: 100%;
}

#left-image {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    z-index: 1;
    object-fit: contain;
    height: 93%;
}

header {
    font-size: 8vw;
    font-family: HobbitonBrushhand;
    -webkit-text-stroke: 1px black;
    color: goldenrod;
    background: -webkit-linear-gradient(gold,DarkGoldenrod);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    margin: 10px;
    padding: 10px;
}


.wrapper {
    margin: 0 300px 20px 100px;
    background:rgba(10, 10, 10, .5);
    background: url("../images/Argonath\ full.jpg") no-repeat; 
    border: 2px grey solid;
    background-size: cover;
    background-position: center top;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    grid-column: 2 / 5;
    grid-row: 2 / 4;
    margin: 20px;
    height: 93%;
}

.wrapper:after {
    content: "";
    display: table;
    clear: both;
} 

.section {
    margin: 10px;
    padding: 10px;
}

.start-btn {
    font-size: 60px;
    font-family: "HobbitonBrushhand";
    padding: 0 20px;
    background: rgba(0, 0, 0, .5);
    color: white;
    border: 2px solid grey;
    margin: 20px;
}

.start-btn:hover {
    background: linear-gradient(10deg,silver, grey);
    color: black;
}

.question {
    font-size: 60px;
    margin: 0;
    padding: 0 40px;
}

.answers {
    display: flex;
    display: row;
    flex-wrap: wrap;
    justify-content: center;
}

.qImage {
    max-width: 50%;
    border: 3px green outset;
    border-radius: 5%;
    margin: 5px 400px;
}

.option:hover {
    background: goldenrod;
    border-color: gold;
    background: linear-gradient(40deg, Khaki, DarkKhaki);

}

.option {
    padding: 20px;
    border: 2px outset white;
    border-radius: 10px;
    background: silver;
    background: linear-gradient(10deg,silver, grey);
    color: black;
    margin: 10px;
}

/***** Final Screen *****/
.final-results {
    border: 2px solid black;
    background: rgba(0, 100, 0, .7);
    min-width: 300px;
    margin: 20px 30px;
    border-radius: 5px;
    padding: 20px;
}